.header-logo{
    color:black;
    font-size:35px;
    text-align: center;
    padding:20 px;  
}
.header{
    background-color:greenyellow;
    height: 50px;
}
.footer{
    padding:20px 20px
}
.footer p1{
    float: left;
    font-size: 20px;
}
