.header-logo{
    color:black;
    font-size:35px;
    text-align: center;
    padding:20 px;  
}
.header{
    background-color:greenyellow;
    height: 50px;
}
.section{
    padding:20px 20px
}
.section p1{
    float: left;
    font-size: 40px;
}
.section p2{
    font-size:40px;
}
