.header-logo{
    color:green;
    font-size:80px;
    text-align: center;
    padding:20 px;  
}
.header{
    background-color: aqua;
    height: 100px;
}
.contents{
 background-image: url("https://toshiki89.github.io/suzuki-toshiki./S__2588717.jpg");
 background-size: cover;
 height: 1000px;
}
.contents h1{
    font-size:100px;
}
.section h2{
    font-size:45px;
}
.wrapper{
    background-color:papayawhip;
}
.container h3{
    background-color:orange;
}
.img　src{
    max-width: 50%
}
.container p {
    font-size: 30px;
}
.container ul{
    display: table-cell;
    font-size: 0;
}
.container li {
    font-size: 20px;
    float:left;
    padding:5px 40px ;
    list-style-type: disc;
    text-align: center;
}
.h4{
    font-size:50px ;
}
input,textarea{
    widows: 400px;
    margin-top:  10px;
    padding:20px
    font-size:18px;
    border:1px solid #dee7ec;
}
.contact-submit{
    background-color: #dee7ec;
    color:#889eab
}
.message {
    padding:15px 40px;
    background-color :yellow;
    box-shadow:0 7px red;
    cursor: pointer;            
}
.message:active {            
    position: relative;            
    top: 7px;            
    box-shadow: none;            
}
.footer{
    padding:20px 20px
}
.footer p1{
    float: left;
    font-size: 50px;
}
.footer a{
    float: left;
    font-size: 50px;
    padding: 0 30px;
    color: purple; 
}
.footer b{
    float:left;
    font-size: 50px;
    padding: 0 30px;
    color: skyblue;
}
.footer c{
    float:left;
    font-size: 50px;
    padding: 0 30px;
    color: steelblue;
}
